pre.programlisting {
	margin-left:		2em;
	margin-right:		2em;
	padding:			1em;
	font-weight:		bold;
	color:				rgb(0,0,128);
	background-image:	url(figures/programListingEdge.gif);
	background-position:top right;
	background-repeat:	no-repeat;
	background-color:	rgb(220,220,255);
}
pre.screen {
	margin-left:		2em;
	margin-right:		2em;
	padding:			1em;
	font-weight:		bold;
	color:				rgb(0,0,0);
	background-color:	rgb(230,230,230);
}
div.mediaobject {
	text-align:			center;
}

h2 {
	margin-top:			2em;
	border-left:		0.5em solid navy;
	border-right:		0.5em solid navy;
	border-top:			1pt solid navy;
	border-bottom:		1pt solid navy;
	padding-left:		1em;
}


h3 {
	margin-top:			1em;
	border-bottom:		2pt double navy;
}

p {
	margin-left:		1em;
}

div.footnote {
	margin-top:			0.5em;
}
