<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>MSV Servlet Demo</display-name>
  <description>
    This servlet demonstrates how you can use MSV from your servlet
    to cache a grammar and validate documents.
  </description>

  <servlet>
    <servlet-name>MSVDemoServlet</servlet-name>
    <servlet-class>ValidationServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MSVDemoServlet</servlet-name>
    <url-pattern>/msvDemo</url-pattern>
  </servlet-mapping>

</web-app>
